<header id="'header" class="flex-row">
  <img class="logo" src="../public/images/logo.jpg" alt="logo" width="60" height="60">
  <nav>
    <ul class="flex-row">
      <li><a class="active" href="/">Home</a></li>
      <li><a class="active" href="/recipeMeta">My Recipes</a></li>
      <li><a class="active" href="/allRecipes">All Recipes</a></li>
      <li><a class="active" href="/recipes">Add Recipe</a></li>
      <li><a class="active" href="https://bookforcooks.auth.us-east-1.amazoncognito.com/oauth2/authorize?client_id=4cesnseki9uhe1ke3hakmr0ap3&response_type=code&scope=aws.cognito.signin.user.admin+email+openid&redirect_uri=https%3A%2F%2Fbookforcooks.com">Sign Up/Sign In</a></li>
      <li><a class="active" href="/about">About</a></li>
    </ul>
  </nav>
</header>