
<header id="header" class="flex-row">
  <img class="logo" src="../public/images/logo.jpg" alt="logo" width="60" height="60">
  <nav>
    <ul class="flex-row">
      <li><a class="active" href="/">Home</a></li>
      <% if (user_info.authenticated) { %>
        <li><a class="active" href="/about">About</a></li>
        <li><a class="active" href="/allRecipes">All Recipes</a></li>
        <li><a class="active" href="/recipeMeta">My Recipes</a></li>
        <li><a class="active" href="/add_recipe">Add Recipe</a></li>
        <li><a class="active" href="/map">Map</a></li>
        <li><a class="active" href="/profile">Profile: <%= user_info.username %></a></li>
        <li><a class="active" href="/logout">Log out</a></li>
      <% } 
      else 
      { %>
        <li><a class="active" href="/about"><%= user_info.username %></a></li>
        <li><a class="active" href="/about">About</a></li>
        <li><a class="active" href="/allRecipes">All Recipes</a></li>
        <li><a class="active" href="/register">Sign Up</a></li>
        <li><a class="active" href="/signin">Sign In</a></li>
      <% } %>
      </ul>
    </nav>
    
</header>

