<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <title>Books For Cooks</title>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <div class="hero-container flex-row">
      <section class="hero flex-column">
        <h1>Make restaurant quality food</h1>
        <h1>from home.</h1>
        <p>A place to keep track of your favorite recipies.<br>Create your own or select one of ours.</p>
        <a href="/allRecipes">
          <div class="cfa flex-column">Get Started</div>
        </a>
      </section>
    </div>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>