<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link rel="stylesheet" href="/public/styles/about_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap" rel="stylesheet">
    <title>About Books 4 Cooks</title>
</head>
<body>
    <header id="'header" class="flex-row">
        <a href="/"><img class="logo" src="../public/images/logo.jpg" alt="logo" width="60" height="60"></a>
        <nav>
          <ul class="flex-row">
            <li><a class="active" href="/">Home</a></li>
            <li><a class="active" href="/recipeMeta">My Recipes</a></li>
            <li><a class="active" href="/recipes">Add Recipe</a></li>
            <li><a class="active" href="/signin">Sign Up/Sign In</a></li>
            <li><a class="active" href="/about">About</a></li>
        </ul>
          </nav>
      </header>
      
        <div class="grid-parent">
          <div class="grid-header">
            <h1>About Books 4 cooks</h1>
          </div>
          <div class="grid-child our-mission">
            <div class="child-header"><h2>Our mission</h2></div>
            <div class="child-content">
              <p>We want to bring the magic from home cooking to you. 
                There is something amazing about digging through old cookbooks and 
                finding some real treasures. But physical cookbooks can be expensive, space-consuming, 
                and difficult to dig through once you have collected enough.</p>
                <p>Enter books 4 cooks. The single place where you can collect and store an entire library 
                  of recipes while receiving personalized health stats and tips to ensure you can eat a healthy and balanced diet on your budget. </p>
            </div>
          </div>
          <div class="grid-child our-team">
            <div class="child-header"><h2>Our team</h2></div>
            <div class="child-content"><p>We a diverse team of computer science majors hoping to bring our unique skill sets together 
              to create a web application that successfully deilvers on this central goal. We are hoping that by the end of this project all of us will have
              learned critical skills that will helps us in future endeavors.
            </p></div>
            
          </div>
        </div>
        <footer>
          <h6>copyright</h6>
        </footer>
      </main>
</body>
</html>