<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/public/styles.css">
    <title>About Books 4 Cooks</title>
</head>
<body>
    <header id="'header" class="flex-row">
        <img src="../public/images/logo.jpg" alt="logo" width="60" height="60">  
        <nav>
          <ul class="flex-row">
            <li><a class="active" href="/recipeMeta">My Recipes</a></li>
            <li><a class="active" href="/index.ejs">Home</a></li>
            <li><a class="active" href="/recipes">Add Recipe</a></li>
            <li><a class="active" href="/signin">Sign Up/Sign In</a></li>
            <li><a class="active" href="/about">About</a></li>
        </ul>
          </nav>
      </header>

      </main>
</body>
</html>