<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <title>About Books 4 Cooks</title>
</head>

<body>
  <header id="mainHead">
    <%- include('./partials/header'); %>
  </header>

  <div class="grid-parent">
    <div class="grid-header">
      <h3>About Books 4 cooks</h3>
    </div>
    <div class="grid-child our-mission">
      <div class="child-header">
        <h4>Our mission</h4>
      </div>
      <div class="child-content">
        <p>We want to bring the magic from home cooking to you.
          There is something amazing about digging through old cookbooks and
          finding some real treasures. But physical cookbooks can be expensive, space-consuming,
          and difficult to dig through once you have collected enough.</p>
        <p>Enter books 4 cooks. The single place where you can collect and store an entire library
          of recipes while receiving personalized health stats and tips to ensure you can eat a healthy and balanced
          diet on your budget. </p>
      </div>
    </div>
    <div class="grid-child our-team">
      <div class="child-header">
        <h4>Our team</h4>
      </div>
      <div class="child-content">
        <p>We a diverse team of computer science majors hoping to bring our unique skill sets together
          to create a web application that successfully deilvers on this central goal. We are hoping that by the end of
          this project all of us will have
          learned critical skills that will helps us in future endeavors.
        </p>
      </div>

    </div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  </main>
</body>

</html>