<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head'); %>
	<title>Add Recipe</title>
</head>
<body>
	<header>
		<%- include('./partials/header'); %>
	</header>
	<h1>Add a new recipe</h1>
	<form action="/addRecipe" method="post">
	  <label for="recipeName">Recipe Name:</label>
	  <input type="text" id="recipeName" name="recipeName" required><br><br>
	  
	  <label for="instruction">Instructions:</label><br>
	  <textarea id="instruction" name="instruction" required></textarea><br><br>
	  
	  <fieldset>
		<legend>Ingredients:</legend>
		<div id="ingredients">
		  <div>
			<label for="ingredient1">Name:</label>
			<input type="text" id="ingredient1" name="ingredients[0][name]" required>
			<label for="ingredientQty1">Quantity:</label>
			<input type="text" id="ingredientQty1" name="ingredients[0][quantity]" required>
		  </div>
		</div>
		<button type="button" onclick="addIngredient()">Add Ingredient</button>
	  </fieldset>
	  
	  <br>
	  <button type="submit">Add Recipe</button>
	</form>
  
	<script>
	  let ingredientCounter = 1;
  
	  function addIngredient() {
		ingredientCounter++;
  
		const ingredientDiv = document.createElement('div');
		ingredientDiv.innerHTML = `
		  <label for="ingredient-name-${ingredientCounter}">Name:</label>
		  <input type="text" id="ingredient-name-${ingredientCounter}" name="ingredients[${ingredientCounter - 1}][name]" required>
		  <label for="ingredient-quantity-${ingredientCounter}">Quantity:</label>
		  <input type="text" id="ingredient-quantity-${ingredientCounter}" name="ingredients[${ingredientCounter - 1}][quantity]" required>
		`;
  
		document.getElementById('ingredients').appendChild(ingredientDiv);
	  }
	</script>
  </body>
  
<footer>
	<%- include('./partials/footer'); %>
</footer>
		


