<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>This is the future recipeMeta Page</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <script id="recipe-data" type="application/json">
      <%- JSON.stringify(data) %>
    </script>
    <script src="/display_all_recipe.js" defer></script>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="all-recipes flex-row">
            <section class="hero flex-column">
                <h1>All Recipes</h1>
                <br>
                <div class="seriousEats">
                    <nav class="recipe-grid"></nav>
                    <div class="pagination-container"></div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
