<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/public/styles.css">
    <title>This is the future recipeMeta Page</title>
</head>
<body>
    <header id="'header" class="flex-row">
        <img src="images/logo.png" alt="logo" width="60" height="60">  
        <nav>
          <ul class="flex-row">
            <li><a href="/recipeMeta">Recipes</a></li>
        </ul>
          </nav>
      </header>
  
      <main>
        <div class="hero-container flex-row">
          <section class="hero flex-column">
            <h1>Quick and Easy Vegetarian Tamale Pie</h1>

            <br>
            <header class="section__header "><h2 class="section__title " data-title-tag="">Ingredients</h2></header>
            <div class="seriousEats">
            <ul class="structured-ingredients__list text-passage">
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1/4</span> <span data-ingredient-unit="true">cup</span> <span data-ingredient-name="true">extra-virgin olive oil</span></p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">cup</span> <span data-ingredient-name="true">fresh corn kernels</span> from 1 to 2 ears of corn</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">medium</span> <span data-ingredient-name="true">onion</span>, diced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-name="true">red bell</span> <span data-ingredient-unit="true">pepper</span>, diced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-name="true">poblano pepper</span>, diced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-name="true">Kosher salt</span> and freshly ground black pepper</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">4</span> <span data-ingredient-unit="true">medium</span> <span data-ingredient-name="true">cloves garlic</span>, thinly sliced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-name="true">serrano pepper</span>, minced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">tablespoon</span> <span data-ingredient-name="true">ground cumin</span>&nbsp;(preferably from whole seeds)</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">teaspoon</span> <span data-ingredient-name="true">ground coriander</span>&nbsp;(preferably from whole seeds)</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">teaspoon</span> <span data-ingredient-name="true">dried oregano</span></p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">3</span> <span data-ingredient-unit="true">tablespoons</span> <span data-ingredient-name="true">ancho&nbsp;chile powder</span></p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">cup</span> <span data-ingredient-name="true">pitted green olives</span>, sliced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1</span> <span data-ingredient-unit="true">tablespoon</span> <span data-ingredient-name="true">soy sauce</span></p>
              </li>
              <li class="structured-ingredients__list-item">
              <p>1 (<span data-ingredient-quantity="true">28</span>-<span data-ingredient-unit="true">ounce</span>) <span data-ingredient-name="true">can whole peeled tomatoes</span>, drained and coarsely crushed with your hand</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p>1 (<span data-ingredient-quantity="true">15</span>-<span data-ingredient-unit="true">ounce</span>)&nbsp;<span data-ingredient-name="true">can black beans drained and rinsed</span></p>
              </li>
              <li class="structured-ingredients__list-item">
              <p>1 (<span data-ingredient-quantity="true">15</span>-<span data-ingredient-unit="true">ounce</span>)&nbsp;can <span data-ingredient-name="true">red kidney beans, drained</span> and rinsed</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">4</span> <span data-ingredient-unit="true">ounces</span> grated <span data-ingredient-name="true">sharp cheddar cheese</span> (about 1 cup)</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">3</span> <span data-ingredient-name="true">scallions</span>, thinly sliced</p>
              </li>
              <li class="structured-ingredients__list-item">
              <p><span data-ingredient-quantity="true">1/2</span> <span data-ingredient-unit="true">cup</span>&nbsp;<span data-ingredient-name="true">fresh cilantro</span> leaves and fine stems, minced</p>
              </li>
              </ul>
            </div>
          </section>
        </div>
        
        <div class="hero-container flex-row">
          <section class="hero flex-column">
            <input type="checkbox" id="expend" />
            <div class="seriousEats smalldesc"><section id="section--instructions_1-0" class="comp section--instructions section">
              <header class="section__header "><h2 class="section__title " data-title-tag="">Directions</h2></header>
              <div class="loc section-content section__content ">
              <div id="structured-project__steps_1-0" class="comp text-passage structured-content structured-project__steps mntl-sc-page mntl-block" data-sc-sticky-offset="60" data-sc-ad-label-height="24" data-sc-ad-track-spacing="100" data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="54em" data-sc-load-immediate="1" data-sc-content-positions="[300,600,900,1200,1500,1800,2100]" data-bind-scroll-on-start="true">
              <ol id="mntl-sc-block_3-0" class="comp mntl-sc-block-group--OL mntl-sc-block mntl-sc-block-startgroup">
              <li id="mntl-sc-block_3-0-1" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup">
              <p id="mntl-sc-block_3-0-2" class="comp mntl-sc-block mntl-sc-block-html">
              Adjust oven rack to center position and preheat oven to 425°F (220°C). Heat oil in a large Dutch oven, or saucepan over high heat until lightly smoking. Add corn and cook, stirring occasionally, until corn is well charred in spots, about 4 minutes. Add onion, bell pepper, and poblano pepper, season with salt and pepper, and cook, stirring, until softened but not browned, about 3 minutes.
              </p>
              <div id="mntl-sc-block_3-0-4" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
              </li>
              <li id="mntl-sc-block_3-0-6" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup">
              <p id="mntl-sc-block_3-0-7" class="comp mntl-sc-block mntl-sc-block-html">
              <br>
              Add garlic, Serrano pepper, cumin, coriander, oregano, and chile powder and cook, stirring, until fragrant, about 30 seconds. Add olives, soy sauce, tomatoes, black beans, and kidney beans. Bring to a simmer and adjust heat to maintain. Cook, stirring occasionally, until thick and fragrant, about 20 minutes. Stir in grated cheese, scallions, and cilantro and season to taste with salt and pepper. Set aside.
              </p>
              <div id="mntl-sc-block_3-0-8" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
              </li>
              <li id="mntl-sc-block_3-0-10" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup">
              <p id="mntl-sc-block_3-0-11" class="comp mntl-sc-block mntl-sc-block-html">
                <br>
              <strong>For the Brown Butter Cornbread Crust:</strong> Heat butter in a 12-inch cast iron or stainless steel skillet over medium heat until melted. Continue to cook, swirling pan gently until butter is nutty-smelling and solids are a toasty brown. Transfer to a heatproof cup or bowl and let rest until slightly cooler, about 5 minutes.
              </p>
              <div id="mntl-sc-block_3-0-12" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
              </li>
              <li id="mntl-sc-block_3-0-14" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup">
              <p id="mntl-sc-block_3-0-15" class="comp mntl-sc-block mntl-sc-block-html">
                <br>
              Combine cornmeal, flour, sugar, 1 teaspoon kosher salt, baking powder, and baking soda in a large bowl. Combine eggs, sour cream, and buttermilk in a second bowl and whisk until homogenous. Whisking constantly, slowly drizzle in reserved browned butter. Whisk wet ingredients into dry ingredients until homogenous. Fold in scallions and jalapeño pepper.
              </p>
              </div>
              </div>
              <div id="mntl-sc-block_3-0-17" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
              </li>
              <li id="mntl-sc-block_3-0-19" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup">
              <p id="mntl-sc-block_3-0-20" class="comp mntl-sc-block mntl-sc-block-html">
                <br>
              Transfer bean mixture to a large cast iron skillet. Using a large spoon, place small dollops of the cornbread batter mixture on top of the bean filling, then use the back of the spoon to spread it into an even layer. Transfer the skillet to the oven and bake until pale golden brown and a skewer inserted into the cornbread comes out clean, about 20 minutes.
              </p>
              <div id="mntl-sc-block_3-0-21" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
              </li>
              <li id="mntl-sc-block_3-0-23" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup">
              <p id="mntl-sc-block_3-0-24" class="comp mntl-sc-block mntl-sc-block-html">
                <br>
              Let cool 15 minutes, then serve with sour cream.
              </p>
              <div id="mntl-sc-block_3-0-26" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
              </li>
              </ol>
              </ul>
              </div>
              <label for="expend" class="cfa flex-column">Recipe Directions</label>
              </div>
              </section>
            </div>
          </section>
          <a href="/"><div class="cfa flex-column">Back to main page</div></a>
        </div>
      </main>
</body>
</html>