<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <title>This is the future recipeMeta Page</title>
    <script src="/display_my_recipe.js" defer></script>
    <script id="recipe-data" type="application/json">
      <%- JSON.stringify(data) %>
    </script>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <h1><%= user_info.username%> Recipes</h1>
    <div class="all-recipes flex-row">
      <section class="hero flex-column">
          <br>
          <select id="recipe-type-selector">
              <option value="all">All</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Dessert">Dessert</option>
              <option value="Any">Any</option>
            </select>
            
          <div class="seriousEats">
              <nav class="recipe-grid"></nav>
              <div class="pagination-container"></div>
          </div>
      </section>
  </div>

  </main>
  <footer>

  </footer>
</body>

</html>