<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
    <title>Available Recipes</title>
</head>
<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  
      <main>
        <div class="hero-container flex-row">
          <section class="hero flex-column">
            <h1>The view for all the recipe boxes will go here.</h1>
            <a href="/recipeMeta"><div class="cfa flex-column">Recipe Meta</div></a>
          </section>
        </div>
      </main>
      <footer>
        <%- include('./partials/footer'); %>
      </footer>
</body>
</html>