<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/public/styles.css">
    <title>This is the future recipeMeta Page</title>
</head>
<body>
    <header id="'header" class="flex-row">
        <img src="../public/images/logo.jpg" alt="logo" width="60" height="60">  
        <nav>
          <ul class="flex-row">
            <li><a href="/recipeMeta">Recipes</a></li>
        </ul>
          </nav>
      </header>
  
      <main>
        <div class="hero-container flex-row">
          <section class="hero flex-column">
            <h1>The view for all the info for a specific recipe will be here.</h1>
            <a href="/"><div class="cfa flex-column">Back to main page</div></a>
          </section>
        </div>
        
        <div class="hero-container flex-row">
          <section class="hero flex-column">
            <h1>The option to view recipe directions will be here</h1>
            <a href="/"><div class="cfa flex-column">Recipe Directions</div></a>
          </section>
        </div>
      </main>
</body>
</html>