<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Books For Cooks</title>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <section class="register-section flex-column">
            <img src="../public/images/logo.jpg" width="300" height="300">
            <h1>Create an Account</h1>
            <form class="register-form" action="/" method="POST">
                <div>
                    <label for="name">Name</label>
                    <br>
                    <input type="text" id="name" class="form-label" name="name" required>
                </div>

                <div>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" id="email" class="form-label" name="email" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" id="password" class="form-label" name="password" required>
                </div>

                <div>
                    <button type="submit">Create an Account</button>
                </div>
            </form>
            <p>Already Have an Account?<a href="/signin"> Sign In</a> </p>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>