/*CSS Variables */

:root{
    --primary-color: #31572C;
    --secondary-color: #8F8F8F;
    --white-color: #ede7e3;
    --black-color: #171717;
    --blue-color: #0582CA;
    --fs-h1: 2.488rem;
    --fs-h2: 2.074rem;
    --fs-h3: 1.728rem;
    --fs-h4: 1.44rem;
    --fs-h5: 1.2rem;
    --fs-h6: 1rem;
    --fs-small: 0.83rem;
}

/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}
.flex-row{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.logo
{
  position: relative;
  padding: 1px 1px 1px 1px;
  border-radius: 50%;
}
.flex-column{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  all: unset;
  cursor: pointer;
}
/*Header*/

#header img{
  height: 44px;
  width: auto;
}

header{
  justify-content: space-between;
  align-items: center;
  padding: .1rem;
  background-color: var(--primary-color);
}

nav a{
  font-size: var(--fs-h5);
  color: var(--white-color);
  font-weight: 600;
  padding: .5em;
}

nav a:hover{
  color: var(--white-color);
}


/*Hero Section*/

.hero-container{
    height: 50vh;
    min-height: 350px;
    background-color: var(--black-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-evenly;
}

.hero-container h1{
  font-size: var(--fs-h1);
  padding-bottom: 0;
  color: var(--white-color);
  font-family: 'Varela Round';
  margin-bottom: -2.1rem;
}

.hero-container h1:nth-child(2){
  font-size: var(--fs-h1);
  color: var(--primary-color);
  font-family: 'Varela Round';
}

.hero-container p{
  color: var(--secondary-color);
}

.cfa{
  width: 170px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--white-color);
  font-size: var(--fs-h5);
  font-weight: 600;
  align-items: center;
}

.hero{
  width: 90%;
  color: var(--white-color);
  gap: 2rem;
}


/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #89CFF0;
    color: white;
  }

  main{
    background-color: var(--black-color);
  }

  footer{
    height: 100;
  }

/*Register Page*/

@media (max-width: 620px){
  
  .register-section{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
  }
  .register-section h1{
    font-size: var(--fs-h3);

  }

  .register-section .form-label{
    width: 300px;
    height: 40px;
    margin-bottom: 1.5rem;
  }

  .register-section button{
    margin-top: 20px;
    background-color: var(--primary-color);
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
  }

  .register-section a{
    color: var(--blue-color);
  }

}

@media (min-width: 620px){
  
  .register-section{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
  }
  .register-section h1{
    font-size: var(--fs-h3);

  }

  .register-section .form-label{
    width: 600px;
    height: 40px;
    margin-bottom: 1.5rem;
  }

  .register-section button{
    margin-top: 20px;
    background-color: var(--primary-color);
    width: 600px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
  }

  .register-section a{
    color: var(--blue-color);
  }

}

/*Register Page*/

@media (max-width: 620px){
  
  .signin-section{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
  }
  .signin-section h1{
    font-size: var(--fs-h3);

  }

  .signin-section .form-label{
    width: 300px;
    height: 40px;
    margin-bottom: 1.5rem;
  }

  .signin-section button{
    margin-top: 20px;
    background-color: var(--primary-color);
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
  }

  .signin-section a{
    color: var(--blue-color);
  }

}

@media (min-width: 620px){
  
  .signin-section{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
  }
  .signin-section h1{
    font-size: var(--fs-h3);

  }

  .signin-section .form-label{
    width: 600px;
    height: 40px;
    margin-bottom: 1.5rem;
  }

  .signin-section button{
    margin-top: 20px;
    background-color: var(--primary-color);
    width: 600px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
  }

  .signin-section a{
    color: var(--blue-color);
  }

}


/* Recipe Page */

  #expend {
    display:none;  
  }
  
  #expend + .smalldesc {
    max-height:50px;
    overflow:hidden;
    transition:all .3s ease;
  }
  
  #expend:checked + .smalldesc {
    max-height:250px;  
  }
  
  label {
    cursor:pointer;
  }
